.navbar {
   .container {
      height: 90px;

      .brand {
         img {
            height: 40px;
         }
      }

      .navigation {
         flex: 1 1;

         a {
            padding: space(0.5, 1);
            margin: 0 0.25rem;
            color: #555;
            font-size: 1.05rem;
            border-radius: 6px;

            &:hover {
               background: #eee;
               border-radius: 4px;
            }
         }
      }

      .actions {
         a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.25rem;
            font-size: 5em;

            img {
               height: space(3);
               width: space(3);
            }
         }
      }
   }
}
