{
   "trailingComma": "all",
   "singleQuote": true,
   "semi": true,
   "tabWidth": 3,
   "overrides": [
      {
         "files": "*.md",
         "options": {
            "tabWidth": 4
         }
      }
   ]
}
