@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

:root {
   --code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
   --code-font-color: #b3b9c5;
   --code-background-color: #353535;
   --string: #92d192;
   --variable: #f2777a;
   --property: #abb2bf;
   --number: #fca369;
   --operator: #ac8d58;
   --punctuation: #d5d8df;
   --comment: #848991;
   --function: #62cfcf;
   --keyword: #ffeead;
   --attribute: #ffd479;
   --class: #e1a6f2;
   --tag: #6ab0f3;
   --error: #f2777a;
}

code[class*='language-'],
pre[class*='language-'] {
   font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono',
      'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
      'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L',
      'Courier New', Courier, monospace;
   font-size: 14px;
   line-height: 1.375;
   direction: ltr;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
   background: #1d1f21;
   color: #c5c8c6;
}

pre[class*='language-'] {
   padding: 1em;
   margin: 0.5em 0;
   overflow: auto;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
   text-shadow: none;
   background: #b4b7b4;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
   text-shadow: none;
   background: #b4b7b4;
}

:not(pre) > code[class*='language-'] {
   padding: 0.1em;
   border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
   color: #969896;
}

.token.punctuation {
   color: #c5c8c6;
}

.token.namespace {
   opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
   color: #de935f;
}

.token.property {
   color: #f0c674;
}

.token.tag {
   color: #81a2be;
}

.token.string {
   color: #8abeb7;
}

.token.selector {
   color: #b294bb;
}

.token.attr-name {
   color: #de935f;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
   color: #8abeb7;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
   color: #b5bd68;
}

.token.statement,
.token.regex,
.token.atrule {
   color: #8abeb7;
}

.token.placeholder,
.token.variable {
   color: #81a2be;
}

.token.deleted {
   text-decoration: line-through;
}

.token.inserted {
   border-bottom: 1px dotted #fff;
   text-decoration: none;
}

.token.italic {
   font-style: italic;
}

.token.important,
.token.bold {
   font-weight: bold;
}

.token.important {
   color: #c66;
}

.token.entity {
   cursor: help;
}

pre > code.highlight {
   outline: 0.4em solid #c66;
   outline-offset: 0.4em;
}

/* New Moon */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.important {
   color: var(--comment);
}

.token.punctuation {
   color: var(--punctuation);
}

.token.namespace {
   opacity: 0.7;
}

.token.property {
   color: var(--property);
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
   color: var(--tag);
}

.token.number {
   color: var(--number);
}

.token.char,
.token.builtin,
.token.url,
.token.inserted {
   color: var(--code-font-color);
}

.token.attr-name,
.token.selector {
   color: var(--attribute);
}

.token.attr-value,
.token.string {
   color: var(--string);
}

.token.operator {
   color: var(--operator);
}

.token.atrule,
.token.keyword {
   color: var(--keyword);
}

.token.function {
   color: var(--function);
}

.language-css,
.token.boolean,
.token.class-name {
   color: var(--class) !important;
}

.token.regex {
   color: var(--keyword);
}

.token.variable {
   color: var(--variable);
}

.token.bold {
   font-weight: bold;
}
.token.italic {
   font-style: italic;
}

.token.entity {
   cursor: help;
}
